beautifulsoup4
trafilatura
waitress
sqlalchemy
tenacity
flask==3.0.3
gunicorn==22.0.0
gevent==24.2.1
PyJWT==2.9.0
python-dotenv==1.0.1
SQLAlchemy==2.0.35
psycopg2-binary==2.9.9
pymysql==1.1.1
requests==2.32.3
qdrant-client==1.11.1
tenacity==8.5.0